undetected-chromedriver>=4.0.0
selenium>=4.20.0
selenium-stealth>=1.0.1
requests>=2.32.0
beautifulsoup4>=4.12.3
rich>=13.8.0
webdriver-manager>=4.0.1
fake-useragent>=1.5.1
pyproxy-requests>=0.6.0
httpx>=0.27.0
